<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>修改密码</title>

<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">

<link rel="stylesheet"
	th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/plugins/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet"
    th:href="@{/plugins/ionicons/css/ionicons.min.css}">
<link rel="stylesheet"
    th:href="@{/plugins/adminLTE/css/AdminLTE.css}">
<link rel="stylesheet"
    th:href="@{/plugins/iCheck/square/blue.css}">
<link rel="stylesheet" th:href="@{/css/simpleAlert.css}">
</head>

<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="all-admin-index.html"><b>ORACLEOAEC</b>后台管理系统</a>
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg">修改密码</p>
			<h6 id="res" style="color: red"></h6>
			<form id="update_form">
				<div class="form-group has-feedback">
					<input type="text" name="username" id="username" class="form-control"
						placeholder="用户名"> <span
						class="glyphicon glyphicon-envelope form-control-feedback"></span><span class="msgbox"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" name="password" id="password" class="form-control"
						placeholder="密码"> <span
						class="glyphicon glyphicon-lock form-control-feedback"></span><span class="msgbox"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" name="password2" id="password2" class="form-control"
						   placeholder="再次输入密码"> <span
						class="glyphicon glyphicon-lock form-control-feedback"></span><span class="msgbox"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="text" name="email" id="email" class="form-control"
						   placeholder="邮箱"> <span
						class="glyphicon glyphicon-lock form-control-feedback"></span><span class="msgbox"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="text" name="phoneNum" id="phoneNum" class="form-control"
						   placeholder="电话"> <span
						class="glyphicon glyphicon-lock form-control-feedback"></span><span class="msgbox"></span>
				</div>
				<div class="row">
					<!-- /.col -->
					<div class="col-xs-4">
						<button type="button"
								class="btn btn-primary btn-block btn-flat" id="register_btn">修改</button>

					</div>
					<!-- /.col -->
				</div>
			</form>
		</div>

		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->

	<!-- jQuery 2.2.3 -->
	<!-- Bootstrap 3.3.6 -->
	<!-- iCheck -->
	<script
		th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
	<script
		th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
	<script
		th:src="@{/plugins/iCheck/icheck.min.js}"></script>
	<script th:src="@{/plugins/jQuery/simpleAlert.js}"></script>
	<script>
		var passwordReg = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,16}$/;
		var emailReg = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
		var telReg = /^((13[0-9])|(14[57])|(15[0-35-9])|(17[035-8])|(18[0-9])|166|198|199)\d{8}$/;

		var passwordFlag = false;
		var password2Flag = false;
		var emailFlag = false;
		var telFlag = false;

		$(function() {
			$("#register_btn").click(function () {
				$.post("/updateUserPassword",$("#update_form").serialize(),function (data) {
					if (data=="修改成功"){
						var success = simpleAlert({
							"content":"修改成功！",
							"buttons":{
								"去登录":function () {
									window.location.href='/login.html';
									success.close();
								},
								"返回":function () {
									window.location.reload();
									success.close();
								}
							}
						})
					}else {
						$("#res").text(data);
					}
				})
			});
		})

		// function validatePassword(){
		// 	if(passwordReg.test($("#password").val())){
		// 		$("#password").siblings(".msgbox").html("");
		// 		passwordFlag = true;
		// 	}else{
		// 		$("#password").siblings(".msgbox").html("请输入6-12位，必须包含大小写字母及数字");
		// 		passwordFlag = false;
		// 	}
		// }
		//
		// function validatePassword2(){
		// 	if($("#password").val()==$("#password2").val()){
		// 		$("#password2").siblings(".msgbox").html("");
		// 		confirmPasswordFlag = true;
		// 	}else{
		// 		$("#password2").siblings(".msgbox").html("两次密码输入不一致");
		// 		confirmPasswordFlag = false;
		// 	}
		// }
		// function validateEmail(){
		// 	if(emailReg.test($("#email").val())){
		// 		$("#email").siblings(".msgbox").html("");
		// 		emailFlag = true;
		// 	}else{
		// 		$("#email").siblings(".msgbox").html("请输入正确的邮箱号");
		// 		emailFlag = false;
		// 	}
		// }
		// function validateTel(){
		// 	if(telReg.test($("#phoneNum").val())){
		// 		$("#phoneNum").siblings(".msgbox").html("");
		// 		telFlag = true;
		// 	}else{
		// 		$("#phoneNum").siblings(".msgbox").html("请输入正确的手机号");
		// 		telFlag = false;
		// 	}
		// }

		$(function() {
			$('input').iCheck({
				checkboxClass : 'icheckbox_square-blue',
				radioClass : 'iradio_square-blue',
				increaseArea : '20%' // optional
			});
		});
	</script>
</body>

</html>